{% extends 'demo.html' %}
{% load notifications_tags %}
{% block title%}
    我的消息
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md col-md-offset-1">
                <a class="btn btn-primary" href="{% url 'mark_readed' %}">全部标记为已读</a>
                <a href="{% url 'delete_my_notifications' %}">清空已读消息</a>
                <ul style="margin-top: 1em;">
                {% for notification in request.user.notifications.all %}
                    {% if notification.unread %}
                        <li>[{{ notification.timesince }}]{{ notification.actor }} <a href="{% url 'my_notification' notification.pk %}">{{ notification.verb }}</a> </li>
                    {% else %} 
                        <li style="color: gray;">已读：[{{ notification.timesince }}]{{ notification.actor }} <a href="{{ notification.data.url }}">{{ notification.verb }}</a> </li>
                    {% endif %}
                {% empty %}
                    <div>暂无消息</div>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script>
        
    </script>
{% endblock %}